# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/


# Environments
.env
.private

.DS_Store

bin/
include/
lib/

# Terraform-related files
.terraform/
.terraform.lock.hcl

# Python-related files
__pycache__/
*.pyc

# Deployment artifacts
*.zip
